.menubar {
  height: 100%;
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: blue;
  overflow-x: hidden;
  padding-top: 20px;
}

.titlebar {
  height: 40px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: red;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
}

.game {
  position: fixed;
  top: 90px;
  left: 150px;
  right: 30px;
  bottom: 30px;
  background-color: brown;
}

.compside {
  position: fixed;
  top: 120px;
  left: 170px;
  right: 60px;
  bottom: 480px;
  background-color: yellow;
}

.usersside {
  position: fixed;
  top: 280px;
  left: 170px;
  right: 60px;
  bottom: 60px;
  background-color: green;
}

.questionsection {
  position: fixed;
  top: 600px;
  left: 270px;
  right: 160px;
  bottom: 20px;
  background-color: black;
}
